Thread $trafficIdentifier = Thread.ofVirtual().start(() -> {
            String trafficIdent = "$trafficIdentifier";

            #if ($after != $null)
            // --after
            try {
                Thread.sleep($after);
            } catch (InterruptedException e) {
                log(trafficIdent, e.getMessage());
            }
            #end

            log(trafficIdent, trafficIdent + " started!");

            #if ($timeout != $null)
            long endTime = System.currentTimeMillis() + $timeout;
            #end

            // TRAFFIC BODY
            #if ($times != $null)
            // -- times
            for (int i = 0; i < $times; i++) {
            #elseif ($retry != $null)
            // -- retry for x seconds
            long trafficUntil = System.currentTimeMillis() + $retry;
            long timer = System.currentTimeMillis();
            while (timer < trafficUntil){
            #else
            for (int i = 0; i < 1; i++) {
            #end
                #if ($timeout != $null)
                // TIMEOUT
                if (System.currentTimeMillis() >= endTime) break;
                #end

                // -- TRAFFIC CONDITIONS
                #if($delay != $null)
                // --delay
                delay($delay);
                #end

                #if($dropout != $null)
                // --dropout
                dropout($dropout);
                #end

                // TRAFFIC HERE
                ResponseTuple r = new ResponseTuple("EMPTY", 0);
                #if ($query)
                r = executeSQL(DB_URL + "/${database}", DB_USER, DB_PASS, "${query}");
                #end

                #if ($requestUrl)
                r = sendHttpRequest("$requestUrl",
                                    "$requestMethod",
                                    $requestConnTimeout, $requestReadTimeout,
                                    $requestHeaders,
                                    $requestBody,
                                    "$requestBodyType");
                #end
                #if($enableLogging == true)
                if (r.statusCode != 0) log(trafficIdent, trafficIdent + " - " + r.toString());
                #end
                #if ($retry != $null)
                timer = System.currentTimeMillis();
                #end
            }

            log(trafficIdent, trafficIdent + " finished!");
        });