import java.io.IOException;
import java.io.OutputStream;
import java.util.concurrent.locks.ReentrantLock;

import com.sun.net.httpserver.HttpServer;
import com.sun.net.httpserver.HttpHandler;
import com.sun.net.httpserver.HttpExchange;

import java.net.InetSocketAddress;

public class MultiStepProxy {

    private static Process currentProcess = null;

    public static void main(String[] args) throws Exception {
        HttpServer server = HttpServer.create(new InetSocketAddress($port), 0);
        #foreach($endpoint in $endpoints)
            server.createContext("$endpoint", exchange -> {
                if ("GET".equals(exchange.getRequestMethod())) {
                    if (currentProcess != null) currentProcess.destroy();
                    currentProcess = new ProcessBuilder("java", "-jar", "$endpointJars.get($endpoint)").start();
                    exchange.sendResponseHeaders(200, 0);
                }
                exchange.close();
            });
        #end
        server.start();
    }

}
