# PIEKER Proxy Dockerfile with Alpine

FROM azul/zulu-openjdk-alpine:23-jre-headless
WORKDIR /app

#foreach($jarPath in $jarPaths.keySet())
COPY $jarPath /app/$jarPaths.get($jarPath)
#end

RUN mkdir -p /tmp/logs

CMD ["java", "-jar", "/app/app.jar"]
